-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: siakad_diakonos
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int DEFAULT NULL,
  `action` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tableName` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `recordId` int DEFAULT NULL,
  `oldData` json DEFAULT NULL,
  `newData` json DEFAULT NULL,
  `ipAddress` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `userAgent` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `audit_log_userId_idx` (`userId`),
  KEY `audit_log_tableName_recordId_idx` (`tableName`,`recordId`),
  KEY `audit_log_createdAt_idx` (`createdAt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dosen`
--

DROP TABLE IF EXISTS `dosen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dosen` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `nidn` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nuptk` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `namaLengkap` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prodiId` int DEFAULT NULL,
  `tempatLahir` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggalLahir` datetime(3) DEFAULT NULL,
  `posisi` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jafung` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alumni` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lamaMengajar` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('AKTIF','NON_AKTIF') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'AKTIF',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dosen_userId_key` (`userId`),
  UNIQUE KEY `dosen_nidn_key` (`nidn`),
  UNIQUE KEY `dosen_nuptk_key` (`nuptk`),
  KEY `dosen_nidn_idx` (`nidn`),
  KEY `dosen_prodiId_idx` (`prodiId`),
  CONSTRAINT `dosen_prodiId_fkey` FOREIGN KEY (`prodiId`) REFERENCES `program_studi` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `dosen_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dosen`
--

LOCK TABLES `dosen` WRITE;
/*!40000 ALTER TABLE `dosen` DISABLE KEYS */;
/*!40000 ALTER TABLE `dosen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_mata_kuliah`
--

DROP TABLE IF EXISTS `kelas_mata_kuliah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kelas_mata_kuliah` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mkId` int NOT NULL,
  `semesterId` int NOT NULL,
  `dosenId` int NOT NULL,
  `hari` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jamMulai` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jamSelesai` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ruanganId` int NOT NULL,
  `kuotaMax` int NOT NULL DEFAULT '30',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kelas_mata_kuliah_semesterId_idx` (`semesterId`),
  KEY `kelas_mata_kuliah_dosenId_idx` (`dosenId`),
  KEY `kelas_mata_kuliah_hari_jamMulai_idx` (`hari`,`jamMulai`),
  KEY `kelas_mata_kuliah_mkId_fkey` (`mkId`),
  KEY `kelas_mata_kuliah_ruanganId_fkey` (`ruanganId`),
  CONSTRAINT `kelas_mata_kuliah_dosenId_fkey` FOREIGN KEY (`dosenId`) REFERENCES `dosen` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `kelas_mata_kuliah_mkId_fkey` FOREIGN KEY (`mkId`) REFERENCES `mata_kuliah` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `kelas_mata_kuliah_ruanganId_fkey` FOREIGN KEY (`ruanganId`) REFERENCES `ruangan` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `kelas_mata_kuliah_semesterId_fkey` FOREIGN KEY (`semesterId`) REFERENCES `semester` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_mata_kuliah`
--

LOCK TABLES `kelas_mata_kuliah` WRITE;
/*!40000 ALTER TABLE `kelas_mata_kuliah` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_mata_kuliah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_mk_file`
--

DROP TABLE IF EXISTS `kelas_mk_file`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kelas_mk_file` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kelasMKId` int NOT NULL,
  `tipeFile` enum('RPS','RPP','MATERI') COLLATE utf8mb4_unicode_ci NOT NULL,
  `namaFile` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fileUrl` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mingguKe` int DEFAULT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `uploadedById` int NOT NULL,
  `uploadedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kelas_mk_file_kelasMKId_idx` (`kelasMKId`),
  KEY `kelas_mk_file_tipeFile_idx` (`tipeFile`),
  KEY `kelas_mk_file_uploadedById_fkey` (`uploadedById`),
  CONSTRAINT `kelas_mk_file_kelasMKId_fkey` FOREIGN KEY (`kelasMKId`) REFERENCES `kelas_mata_kuliah` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `kelas_mk_file_uploadedById_fkey` FOREIGN KEY (`uploadedById`) REFERENCES `dosen` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_mk_file`
--

LOCK TABLES `kelas_mk_file` WRITE;
/*!40000 ALTER TABLE `kelas_mk_file` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas_mk_file` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khs`
--

DROP TABLE IF EXISTS `khs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mahasiswaId` int NOT NULL,
  `semesterId` int NOT NULL,
  `ips` decimal(4,2) NOT NULL,
  `ipk` decimal(4,2) NOT NULL,
  `totalSKSSemester` int NOT NULL,
  `totalSKSKumulatif` int NOT NULL,
  `tanggalGenerate` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `khs_mahasiswaId_semesterId_key` (`mahasiswaId`,`semesterId`),
  KEY `khs_semesterId_idx` (`semesterId`),
  CONSTRAINT `khs_mahasiswaId_fkey` FOREIGN KEY (`mahasiswaId`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `khs_semesterId_fkey` FOREIGN KEY (`semesterId`) REFERENCES `semester` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khs`
--

LOCK TABLES `khs` WRITE;
/*!40000 ALTER TABLE `khs` DISABLE KEYS */;
/*!40000 ALTER TABLE `khs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `krs`
--

DROP TABLE IF EXISTS `krs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `krs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mahasiswaId` int NOT NULL,
  `semesterId` int NOT NULL,
  `paketKRSId` int DEFAULT NULL,
  `status` enum('DRAFT','SUBMITTED','APPROVED','REJECTED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DRAFT',
  `totalSKS` int NOT NULL DEFAULT '0',
  `isModified` tinyint(1) NOT NULL DEFAULT '0',
  `catatanAdmin` text COLLATE utf8mb4_unicode_ci,
  `tanggalSubmit` datetime(3) DEFAULT NULL,
  `tanggalApproval` datetime(3) DEFAULT NULL,
  `approvedById` int DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `krs_mahasiswaId_semesterId_key` (`mahasiswaId`,`semesterId`),
  KEY `krs_status_idx` (`status`),
  KEY `krs_semesterId_idx` (`semesterId`),
  KEY `krs_paketKRSId_fkey` (`paketKRSId`),
  KEY `krs_approvedById_fkey` (`approvedById`),
  CONSTRAINT `krs_approvedById_fkey` FOREIGN KEY (`approvedById`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `krs_mahasiswaId_fkey` FOREIGN KEY (`mahasiswaId`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `krs_paketKRSId_fkey` FOREIGN KEY (`paketKRSId`) REFERENCES `paket_krs` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `krs_semesterId_fkey` FOREIGN KEY (`semesterId`) REFERENCES `semester` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `krs`
--

LOCK TABLES `krs` WRITE;
/*!40000 ALTER TABLE `krs` DISABLE KEYS */;
/*!40000 ALTER TABLE `krs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `krs_detail`
--

DROP TABLE IF EXISTS `krs_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `krs_detail` (
  `id` int NOT NULL AUTO_INCREMENT,
  `krsId` int NOT NULL,
  `kelasMKId` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `krs_detail_krsId_kelasMKId_key` (`krsId`,`kelasMKId`),
  KEY `krs_detail_kelasMKId_fkey` (`kelasMKId`),
  CONSTRAINT `krs_detail_kelasMKId_fkey` FOREIGN KEY (`kelasMKId`) REFERENCES `kelas_mata_kuliah` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `krs_detail_krsId_fkey` FOREIGN KEY (`krsId`) REFERENCES `krs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `krs_detail`
--

LOCK TABLES `krs_detail` WRITE;
/*!40000 ALTER TABLE `krs_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `krs_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mahasiswa`
--

DROP TABLE IF EXISTS `mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mahasiswa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `nim` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `namaLengkap` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tempatTanggalLahir` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenisKelamin` enum('L','P') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `prodiId` int NOT NULL,
  `angkatan` int NOT NULL,
  `status` enum('AKTIF','CUTI','NON_AKTIF','LULUS','DO') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'AKTIF',
  `dosenWaliId` int DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mahasiswa_userId_key` (`userId`),
  UNIQUE KEY `mahasiswa_nim_key` (`nim`),
  KEY `mahasiswa_nim_idx` (`nim`),
  KEY `mahasiswa_prodiId_idx` (`prodiId`),
  KEY `mahasiswa_angkatan_idx` (`angkatan`),
  KEY `mahasiswa_dosenWaliId_idx` (`dosenWaliId`),
  CONSTRAINT `mahasiswa_dosenWaliId_fkey` FOREIGN KEY (`dosenWaliId`) REFERENCES `dosen` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `mahasiswa_prodiId_fkey` FOREIGN KEY (`prodiId`) REFERENCES `program_studi` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `mahasiswa_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=106 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mahasiswa`
--

LOCK TABLES `mahasiswa` WRITE;
/*!40000 ALTER TABLE `mahasiswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mata_kuliah`
--

DROP TABLE IF EXISTS `mata_kuliah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mata_kuliah` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kodeMK` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `namaMK` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sks` int NOT NULL,
  `semesterIdeal` int NOT NULL,
  `isLintasProdi` tinyint(1) NOT NULL DEFAULT '0',
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mata_kuliah_kodeMK_key` (`kodeMK`),
  KEY `mata_kuliah_kodeMK_idx` (`kodeMK`),
  KEY `mata_kuliah_semesterIdeal_idx` (`semesterIdeal`)
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mata_kuliah`
--

LOCK TABLES `mata_kuliah` WRITE;
/*!40000 ALTER TABLE `mata_kuliah` DISABLE KEYS */;
/*!40000 ALTER TABLE `mata_kuliah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nilai`
--

DROP TABLE IF EXISTS `nilai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nilai` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mahasiswaId` int NOT NULL,
  `kelasMKId` int NOT NULL,
  `semesterId` int NOT NULL,
  `nilaiAngka` decimal(5,2) DEFAULT NULL,
  `nilaiHuruf` enum('A','AB','B','BC','C','CD','D','DE','E') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bobot` decimal(3,2) DEFAULT NULL,
  `isFinalized` tinyint(1) NOT NULL DEFAULT '0',
  `inputById` int NOT NULL,
  `tanggalInput` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nilai_mahasiswaId_kelasMKId_semesterId_key` (`mahasiswaId`,`kelasMKId`,`semesterId`),
  KEY `nilai_semesterId_idx` (`semesterId`),
  KEY `nilai_kelasMKId_idx` (`kelasMKId`),
  KEY `nilai_inputById_fkey` (`inputById`),
  CONSTRAINT `nilai_inputById_fkey` FOREIGN KEY (`inputById`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `nilai_kelasMKId_fkey` FOREIGN KEY (`kelasMKId`) REFERENCES `kelas_mata_kuliah` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `nilai_mahasiswaId_fkey` FOREIGN KEY (`mahasiswaId`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `nilai_semesterId_fkey` FOREIGN KEY (`semesterId`) REFERENCES `semester` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nilai`
--

LOCK TABLES `nilai` WRITE;
/*!40000 ALTER TABLE `nilai` DISABLE KEYS */;
/*!40000 ALTER TABLE `nilai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paket_krs`
--

DROP TABLE IF EXISTS `paket_krs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paket_krs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `namaPaket` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `angkatan` int NOT NULL,
  `prodiId` int NOT NULL,
  `semesterPaket` int NOT NULL,
  `semesterId` int NOT NULL,
  `totalSKS` int NOT NULL DEFAULT '0',
  `createdById` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `paket_krs_angkatan_prodiId_semesterPaket_idx` (`angkatan`,`prodiId`,`semesterPaket`),
  KEY `paket_krs_semesterId_fkey` (`semesterId`),
  KEY `paket_krs_prodiId_fkey` (`prodiId`),
  KEY `paket_krs_createdById_fkey` (`createdById`),
  CONSTRAINT `paket_krs_createdById_fkey` FOREIGN KEY (`createdById`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `paket_krs_prodiId_fkey` FOREIGN KEY (`prodiId`) REFERENCES `program_studi` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `paket_krs_semesterId_fkey` FOREIGN KEY (`semesterId`) REFERENCES `semester` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paket_krs`
--

LOCK TABLES `paket_krs` WRITE;
/*!40000 ALTER TABLE `paket_krs` DISABLE KEYS */;
/*!40000 ALTER TABLE `paket_krs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paket_krs_detail`
--

DROP TABLE IF EXISTS `paket_krs_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paket_krs_detail` (
  `id` int NOT NULL AUTO_INCREMENT,
  `paketKRSId` int NOT NULL,
  `kelasMKId` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `paket_krs_detail_paketKRSId_kelasMKId_key` (`paketKRSId`,`kelasMKId`),
  KEY `paket_krs_detail_kelasMKId_fkey` (`kelasMKId`),
  CONSTRAINT `paket_krs_detail_kelasMKId_fkey` FOREIGN KEY (`kelasMKId`) REFERENCES `kelas_mata_kuliah` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `paket_krs_detail_paketKRSId_fkey` FOREIGN KEY (`paketKRSId`) REFERENCES `paket_krs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paket_krs_detail`
--

LOCK TABLES `paket_krs_detail` WRITE;
/*!40000 ALTER TABLE `paket_krs_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `paket_krs_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembayaran`
--

DROP TABLE IF EXISTS `pembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pembayaran` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mahasiswaId` int NOT NULL,
  `semesterId` int DEFAULT NULL,
  `jenisPembayaran` enum('KRS','TENGAH_SEMESTER','PPL','SKRIPSI','WISUDA','KOMITMEN_BULANAN') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'KRS',
  `nominal` int NOT NULL,
  `buktiUrl` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDING',
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `bulanPembayaran` datetime(3) DEFAULT NULL,
  `uploadedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `verifiedAt` datetime(3) DEFAULT NULL,
  `verifiedById` int DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `pembayaran_mahasiswaId_idx` (`mahasiswaId`),
  KEY `pembayaran_semesterId_idx` (`semesterId`),
  KEY `pembayaran_status_idx` (`status`),
  KEY `pembayaran_jenisPembayaran_idx` (`jenisPembayaran`),
  KEY `pembayaran_verifiedById_fkey` (`verifiedById`),
  CONSTRAINT `pembayaran_mahasiswaId_fkey` FOREIGN KEY (`mahasiswaId`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `pembayaran_semesterId_fkey` FOREIGN KEY (`semesterId`) REFERENCES `semester` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `pembayaran_verifiedById_fkey` FOREIGN KEY (`verifiedById`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembayaran`
--

LOCK TABLES `pembayaran` WRITE;
/*!40000 ALTER TABLE `pembayaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembayaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presensi`
--

DROP TABLE IF EXISTS `presensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `presensi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kelasMKId` int NOT NULL,
  `tanggal` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `pertemuan` int NOT NULL,
  `materi` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `presensi_kelasMKId_pertemuan_key` (`kelasMKId`,`pertemuan`),
  KEY `presensi_kelasMKId_idx` (`kelasMKId`),
  KEY `presensi_tanggal_idx` (`tanggal`),
  CONSTRAINT `presensi_kelasMKId_fkey` FOREIGN KEY (`kelasMKId`) REFERENCES `kelas_mata_kuliah` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presensi`
--

LOCK TABLES `presensi` WRITE;
/*!40000 ALTER TABLE `presensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `presensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presensi_detail`
--

DROP TABLE IF EXISTS `presensi_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `presensi_detail` (
  `id` int NOT NULL AUTO_INCREMENT,
  `presensiId` int NOT NULL,
  `mahasiswaId` int NOT NULL,
  `status` enum('HADIR','TIDAK_HADIR','IZIN','SAKIT','ALPHA') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ALPHA',
  `keterangan` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `presensi_detail_presensiId_mahasiswaId_key` (`presensiId`,`mahasiswaId`),
  KEY `presensi_detail_mahasiswaId_idx` (`mahasiswaId`),
  CONSTRAINT `presensi_detail_mahasiswaId_fkey` FOREIGN KEY (`mahasiswaId`) REFERENCES `mahasiswa` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `presensi_detail_presensiId_fkey` FOREIGN KEY (`presensiId`) REFERENCES `presensi` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presensi_detail`
--

LOCK TABLES `presensi_detail` WRITE;
/*!40000 ALTER TABLE `presensi_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `presensi_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_studi`
--

DROP TABLE IF EXISTS `program_studi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `program_studi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kode` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenjang` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'S1',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `program_studi_kode_key` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_studi`
--

LOCK TABLES `program_studi` WRITE;
/*!40000 ALTER TABLE `program_studi` DISABLE KEYS */;
INSERT INTO `program_studi` VALUES (1,'PAK','Pendidikan Agama Kristen','S1',1,'2026-02-17 12:16:32.534','2026-02-17 12:16:32.534'),(2,'TEO','Teologi','S1',1,'2026-02-17 12:16:32.542','2026-02-17 12:16:32.542');
/*!40000 ALTER TABLE `program_studi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ruangan`
--

DROP TABLE IF EXISTS `ruangan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ruangan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kapasitas` int DEFAULT '30',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ruangan_nama_key` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ruangan`
--

LOCK TABLES `ruangan` WRITE;
/*!40000 ALTER TABLE `ruangan` DISABLE KEYS */;
INSERT INTO `ruangan` VALUES (1,'Teologi I',30,1,'2026-02-17 12:16:32.562','2026-02-17 12:16:32.562'),(2,'PAK I',30,1,'2026-02-17 12:16:32.562','2026-02-17 12:16:32.562'),(3,'Teologi II',30,1,'2026-02-17 12:16:32.562','2026-02-17 12:16:32.562'),(4,'PAK II',30,1,'2026-02-17 12:16:32.562','2026-02-17 12:16:32.562');
/*!40000 ALTER TABLE `ruangan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semester`
--

DROP TABLE IF EXISTS `semester`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `semester` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tahunAkademik` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `periode` enum('GANJIL','GENAP') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tanggalMulai` datetime(3) NOT NULL,
  `tanggalSelesai` datetime(3) NOT NULL,
  `periodeKRSMulai` datetime(3) NOT NULL,
  `periodeKRSSelesai` datetime(3) NOT NULL,
  `periodePerbaikanKRSMulai` datetime(3) NOT NULL,
  `periodePerbaikanKRSSelesai` datetime(3) NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `semester_tahunAkademik_periode_key` (`tahunAkademik`,`periode`),
  KEY `semester_isActive_idx` (`isActive`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semester`
--

LOCK TABLES `semester` WRITE;
/*!40000 ALTER TABLE `semester` DISABLE KEYS */;
INSERT INTO `semester` VALUES (1,'2025/2026','GENAP','2026-02-01 00:00:00.000','2026-06-30 00:00:00.000','2026-01-15 00:00:00.000','2026-02-15 00:00:00.000','2026-02-16 00:00:00.000','2026-02-28 00:00:00.000',1,'2026-02-17 12:16:46.959','2026-02-17 12:16:46.959');
/*!40000 ALTER TABLE `semester` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('ADMIN','DOSEN','MAHASISWA','KEUANGAN') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'MAHASISWA',
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_username_key` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-17 12:22:17
